<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="./styles/style.css">

    <meta property="og:title" content="Заголовок страницы в OG">
    <meta property="og:description" content="Описание страницы в OG">
    <meta property="og:image" content="https://hh.ru/">
    <meta property="og:url" content="https://career.hh.ru/courses">
  </head>
  <body>
    <header>
      <h1>Заголовок</h1>
      <p>описание заголовка</p>
      <nav>
        <ul>
          <li><a href="index.html">Эта страница</a></li>
          <li><a href="catalog.html">Другая страница</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <section>
          <h2>Первая секция</h2>
          <p>Описание</p>
          <img src="images/image.png" alt="котик">
          <p>Описание2.</p>
        </section>
        <section>
          <h2>Вторая секция</h2>
          <p>Про меня</p>
        </section>
        <section>
          <h2>третья секция</h2>
          <p>Про вас.</p>
        </section>
      </article>
    </main>
    <footer>
      <p>автор</p>
    </footer>
    <!-- сюда можно подключить jquery <script src="scripts/app.js" defer></script> -->
  </body>
</html>